body {
    background-color:rgb(32, 38, 39) !important;
}


.container {
    background-color: rgb(32, 38, 39) !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.btn {
    color: white !important;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 12px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success,
.bg-danger {
    color: white !important;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 38px;
    margin-bottom: 32px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.endscreen-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    padding: 20px;
}

@media (max-width: 700px) {
    .container {
        padding: 0 !important;
    }

    .navbar {
        display: none !important;
    }

     .quiz-card {
        width: 100% !important;
        height: 100vh !important;
     }

     .card {
        border-radius: none !important;
        width: 100% !important;
        margin: 0 !important;
     } 


}